.menu {
  width: 200px;
  flex-shrink: 0;
  margin-top: 25px;
}
.left_label {
  display: flex;
  flex-direction: column;
  height: 28px;
  line-height: 27px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  color: #28547a;
  text-decoration: none;
}
.left_label a {
  text-decoration: none;
  color: #2a5674;
  text-decoration: #2a5674;

}
